---
import PerfilCliente from "../components/PerfilCliente";
import { clientes } from "../../../../db/schema/clientes";
import { eq } from "drizzle-orm";
import LayoutDash from "../../../../components/layouts/LayoutDash.astro";
import db from "../../../../db";
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";
import Button1 from "../../../../components/atomos/Button1.astro";

const { clienteId } = Astro.params;

// Obtener datos del cliente
const cliente = (await db.select().from(clientes).where(eq(clientes.id,clienteId))).at(0)

if (!cliente) {
  return Astro.redirect('/dashboard/clientes');
}

---
<LayoutDash title={`Cliente - ${cliente.nombre}`}>
  <MainDashboard h1=`${cliente.nombre}`>
    <div
    slot={"menu"}
    class="flex items-center justify-end pb-2 gap-2 pr-6 w-full"
  >
        <p>
          Cliente desde: {new Date(cliente.fechaAlta * 1000).toLocaleDateString()}
        </p>
        <Button1 
          id="btnEdit"
        >
          Editar Cliente
        </Button1>
      </div>

    <PerfilCliente client:load cliente={cliente} />
  </MainDashboard>
</LayoutDash> 

<script define:vars={{clienteId}}>
document.getElementById('btnEdit').addEventListener('click',()=>window.location.href=`/dashboard/clientes/${clienteId}/editar`)
</script>