---

const {arrayBody}=Astro.props

---


<tbody>
    {arrayBody.map((currentElement, index) => (
        <tr  class="border-b last:border-0 bg-white">
          <td class=" text-xs p-2  font-medium">{currentElement.name}</td>
          <td class=" text-xs p-2 ">{currentElement.dosage}</td>
          <td class=" text-xs p-2 ">{currentElement.frequency}</td>
          <td class=" text-xs p-2 ">
            <span class={`px-2 py-1 text-xs font-medium rounded-full ${getStatusColor(currentElement.status)}`}>
              {currentElement.status.charAt(0).toUpperCase() + currentElement.status.slice(1)}
            </span>
          </td>
        </tr>
      ))}
</tbody>