---
import Button2 from '../../../../components/atomos/Button2.astro';
import Button3 from '../../../../components/atomos/Button3.astro';
import DivBox1 from '../../../../components/atomos/DivBox1.astro';

const { item } = Astro.props;
const Icon = item.icon;
---

<DivBox1
  styleDiv={`hover:shadow-lg duration-300 transition-all space-y-3 cursor-pointer ${
    item.status === 'coming-soon' ? 'opacity-75' : ''
  }`}
>
  <div class="flex flex-col gap-y2 items-start w-full justify-between">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <div class={`p-2 rounded-lg ${item.color} text-white`}>
          <Icon className="w-7 h-7 group-hover:scale-110  duration-300 " />
        </div>
        <div>
          <h3 class="text-lg text-primary-textoTitle font-medium">
            {item.title}
          </h3>
        </div>
      </div>
      <!-- {getStatusBadge(item.status)} -->
    </div>
  </div>
  <div class="flex flex-col gap-2 items-start w-full justify-between">
    <span class="text-sm mb-4">
      {item.description}
    </span>

    <div class="flex items-center w-full justify-between">
      <div class="text-lg font-semibold text-gray-700">
        {item.count}
        {item.count === 1 ? 'elemento' : 'elementos'}
      </div>
      <Button3
      disabled={item.status === 'coming-soon'}>
        <a href={`/dashboard/ajustes/stock/${item.id}`}>
          {item.status === 'coming-soon' ? 'Próximamente' : 'Gestionar'}
        </a>
      </Button3>
    </div>
  </div>
</DivBox1>
