---
import { Tag, Edit, Trash2, CircleX } from 'lucide-react';
import Button4 from '../../../../components/atomos/Button4.astro';
import DivBox1 from '../../../../components/atomos/DivBox1.astro';
import Modal from '../../../../components/moleculas/Modal.astro';
import FormularioNuevaCategoria from './FormularioNuevaCat';
import formatDate from '../../../../utils/formatDate';

interface Category {
  id: string;
  nombre: string;
  descripcion: string;
  color: string;
  activo: boolean;
  creadoPor: string;
  created_at: string;
  cantidadProductos: number;
}

const { categoria } = Astro.props as Category
---

<DivBox1
  styleDiv={`hover:shadow-lg duration-300 transition-all gap-4 cursor-pointer ${
    categoria.activo  ? 'opacity-75' : ''
  }`}
>
  <div class="flex p-4 flex-col w-full gap-4">
    <div class="flex flex-col gap-y-2 items-start w-full justify-between">
      <div class="flex items-center w-full justify-between">
        <div class="flex items-center gap-x-2 w-full">
          <div class={`p-2 rounded-lg ${categoria.color || 'bg-blue-500'} text-white`}>
            <Tag className="w-4 h-4 group-hover:scale-110  duration-300 " />
          </div>
          <div>
            <h3 class="text-lg text-primary-textoTitle capitalize font-medium">
              {categoria.nombre}
            </h3>
          </div>
        </div>
        <span
          class={`text-xs lowercase px-2 rounded-lg py-1 text-primary-textoTitle font-semibold ${categoria.activo==1 ? 'bg-green-500/50' : 'bg-red-600/40'}`}
        >
          {categoria.activo ? 'activo' : 'inactivo'}
        </span>
      </div>
    </div>
    <div class="flex flex-col gap-2 items-start w-full justify-between">
      <span class="text-sm mb-4">{categoria.descripcion}</span>

      <div class="flex items-center w-full justify-between">
        <div class="text-lg font-semibold text-gray-700">
          {categoria.cantidadProductos}
          {categoria.cantidadProductos === 1 ? 'producto' : 'productos'}
        </div>
        <span class="text-sm text-gray-500">
          Creada: {formatDate(categoria.created_at)}
        </span>
      </div>
    </div>
    <div class="flex space-x-2">
      <Button4 id={`editarCategoria-${categoria.id}`}>
        <Edit className="h-4 w-4" />
       
      </Button4>
      <Button4>
        {categoria.activo ? 'Desactivar' : 'Activar'}
      </Button4>
      <Button4>
        <Trash2 className="h-4 w-4 text-red-600" />
      </Button4>
    </div>
  </div>
  <dialog
    id={`dialog-editarCategoria-${categoria.id}`}
    class="modal print:hidden relative duration-300 open:fixed open:flex flex-col w-full md:min-w-[50vw] md:open:max-w-[60vw] open:min-h-[70vh] rounded-lg border-l-2 border-primary-100 backdrop:bg-primary-textoTitle/80 open:backdrop:backdrop-blur-sm"
  >
    <form method="dialog">
      <button
        id="cerrarModal"
        class="absolute top-2 right-2 cursor-pointer text-primary-texto active:-scale-95 duration-200 hover:text-primary-100"
      >
        <CircleX />
      </button>
    </form>
    <FormularioNuevaCategoria category={categoria} client:load />
  </dialog>
</DivBox1>
<script define:vars={{ categoria }}>
  const btnEditarCategoria = document.getElementById(
    `editarCategoria-${categoria.id}`
  );
  btnEditarCategoria?.addEventListener('click', () => {
    const dialog = document.getElementById(
      `dialog-editarCategoria-${categoria.id}`
    );
    dialog.showModal();
  });
</script>
