---
import { cn } from "../../lib/cn";

interface Props {
  variant?: 'primary' | 'secondary' | 'tertiary' | 'blanco' | 'cancel' | 'outline' | 'downloadPDF' | 'grisOscuro' | 'grisClaro' | 'indigo' | 'bgTransparent' | 'blue' | 'green';
  size?: 'default' | 'sm' | 'lg' | 'icon';
  class?: string;
  id?: string;
  href?: string;
  type?: "button" | "submit" | "reset";
}

const { 
  variant = 'secondary', 
  size = 'default', 
  class: className, 
  id, 
  href,
  type = "button"
} = Astro.props;

const variants = {
  primary: 'bg-primary-100 text-white hover:bg-primary-100/90 focus:ring-primary-100',
  secondary: 'bg-primary-200 text-white hover:bg-primary-200/90 focus:ring-primary-200',
  tertiary: 'bg-primary-300 text-white hover:bg-primary-300/90 focus:ring-primary-300',
  blanco: 'bg-white text-primary-800 hover:bg-primary-150 hover:text-white focus:ring-primary-150 border-primary-150/50',
  cancel: 'bg-red-500 text-white hover:bg-red-600 focus:ring-red-600',
  outline: 'bg-transparent border border-gray-300/50 text-gray-800 hover:bg-gray-200 focus:ring-gray-400',
  downloadPDF: 'bg-green-600 text-white hover:bg-green-700 focus:ring-green-600',
  grisOscuro: 'bg-gray-800 text-white hover:bg-gray-900 focus:ring-gray-700',
  grisClaro: 'bg-gray-200 text-white hover:bg-gray-300 border border-gray-300/50 text-primary-textoTitle focus:ring-gray-400',
  indigo: 'border border-transparent text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:ring-indigo-500',
  bgTransparent: 'bg-transparent border border-gray-300/50 hover:bg-gray-200/50 hover:border-gray-300 rounded-lg',
  blue: 'text-white bg-blue-500 hover:bg-blue-600 focus:ring-blue-600',
  green: 'text-white bg-green-500 hover:bg-green-600 focus:ring-green-600',
};

const sizes = {
  default: 'h-10 py-2 px-4',
  sm: 'h-9 px-3 rounded-md',
  lg: 'h-11 px-8 rounded-md',
  icon: 'h-10 w-10',
};

const baseClass = 'inline-flex items-center justify-center rounded-md text-sm font-thin transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 w-fit disabled:opacity-50 disabled:cursor-not-allowed duration-200';

const finalClass = cn(baseClass, variants[variant], sizes[size], className);
---

{
  href ? (
    <a href={href} class={finalClass} id={id}>
      <slot />
    </a>
  ) : (
    <button type={type} class={finalClass} id={id}>
      <slot />
    </button>
  )
}
