---
import Button1 from "../atomos/Button1.astro";
import DialogModal from "../atomos/DialogModal.astro";

const { id, label } = Astro.props;
---
<div data-id={id} id="dataId">
  <Button1  id={`modal-${id}`}>{label}</Button1>

  <dialog
    id={`dialog-modal-${id}`}
    class="modal print:hidden relative duration-300 open:fixed open:flex flex-col w-full md:min-w-[50vw] md:open:max-w-[60vw] open:min-h-[50vh] rounded-lg border-l-2 border-primary-100 backdrop:bg-primary-textoTitle/80 open:backdrop:backdrop-blur-sm"
  >
    <div
      id="dataId"
      class="relative flex flex-col w-full h-full p-3 print:hidden modal"
    >
      <form method="dialog">
        <Button1 slot="close" id="cerrarModal" className="absolute  top-2 right-2 "
          >✕</Button1
        >
      </form>
      <slot />

      <!-- <DiagnosticosContenedor client:load  isExistDiagnosticos={isExistDiagnosticos}/> -->
    </div>
  </dialog>
</div>
<script define:vars={{id}} >

  


  const btnModal = document.getElementById(`modal-${id}`);
  btnModal?.addEventListener("click", (e) => {
    const modal = document.getElementById(`dialog-modal-${id}`);
    modal.showModal();
    // e.showModal()
  });
</script>

<style>
  .modal {
  z-index: 1000; /* Ajusta si es necesario */
}
</style>