---
import { dataFormularioContexto } from '../../context/store';
import Button1 from '../atomos/Button1.astro';
import { CircleX } from 'lucide-react';
const { id, label } = Astro.props;

dataFormularioContexto.set({ isEdit: false });
---

<div data-id={id} id="dataId">
  {label&&<Button1 id={`modal-${id}`}>{label}</Button1>}

  <dialog
    id={`dialog-modal-${id}`}
    class="modal print:hidden relative duration-300 open:fixed open:flex flex-col w-fit  rounded-lg border-l-2 border-primary-100 backdrop:bg-primary-textoTitle/80 open:backdrop:backdrop-blur-sm"
  >
    <div
      id="dataId"
      class="relative flex flex-col w-full h-full p-3 print:hidden modal"
    >
      <form method="dialog">
        <button
          slot="close"
          id="cerrarModal"
          class="absolute  top-2 right-2 cursor-pointer text-primary-texto active:-scale-95 duration-200 hover:text-primary-100"><CircleX/></button>
      </form>
      <slot />

      <!-- <DiagnosticosContenedor client:load  isExistDiagnosticos={isExistDiagnosticos}/> -->
    </div>
  </dialog>
</div>
<script define:vars={{ id }}>
  const btnModal = document.getElementById(`modal-${id}`);
  btnModal?.addEventListener('click', (e) => {
    const modal = document.getElementById(`dialog-modal-${id}`);
    modal.showModal();
    // e.showModal()
  });
</script>

<style>
  .modal {
    z-index: 1000; /* Ajusta si es necesario */
  }
</style>
<script>
  import { dataFormularioContexto } from '../../context/store';

  const emptyForm = {
    dni: 0,
    id: '',
    isEdit: false,
    nombre: '',
    apellido: '',
    email: '',
    password: '',
    rol: 'vendedor',
    tipoUsuario: 'empleado',
  };
  dataFormularioContexto.set({ ...emptyForm, isEdit: false });
</script>
