---
import Button1 from "../atomos/Button1.astro";
import DialogModal from "../atomos/DialogModal.astro";

const { id, open } = Astro.props;
---

<Button1 id={id}>{open}</Button1>

<DialogModal id={id}>
  <div id="dataId" data-id={id} class="relative flex flex-col w-full h-full p-3 print:hidden modal">
    <slot name="main" />
    <form method="dialog">
      <slot name="close" />
    </form>
  </div>
</DialogModal>
<script >
import { dataFormularioContexto } from "../../context/store";

  const data=document.getElementById('dataId')?.dataset.id

  const btnModal = document.getElementById(`${data}`);
  const modal = document.getElementById(`modal-${data}`);
  btnModal?.addEventListener("click", (e) => {
    dataFormularioContexto.set({})
    modal.showModal();
    // e.showModal()
  });
</script>

<style>
  .modal {
  z-index: 1000; /* Ajusta si es necesario */
}
</style>