---
import { eq } from "drizzle-orm";
import LayoutDash from "../../../../components/layouts/LayoutDash.astro";
import db from "../../../../db";
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";
import Button1 from "../../../../components/atomos/Button1.astro";
import { proveedores } from "../../../../db/schema";
import PerfilProveedor from './components/PerfilProveedor'
import Modal from "../../../../components/moleculas/Modal.astro";
import FormularioProveedor from "./components/FormularioProveedor";
const { proveedorId } = Astro.params;

// Obtener datos del cliente
const proveedor = (await db.select().from(proveedores).where(eq(proveedores.id,proveedorId))).at(0)

if (!proveedor) {
  return Astro.redirect('/dashboard/proveedores');
}
console.log(proveedor)
---
<LayoutDash title={`Proveedor - ${proveedor.nombre}`}>
  <MainDashboard h1=`${proveedor.nombre}`>
    <div
    slot={"menu"}
    class="flex items-center justify-end pb-2 gap-2 pr-6 w-full"
  >
        <p>
          Cliente desde: {new Date(proveedor.created_at * 1000).toLocaleDateString()}
        </p>
        <Modal id="editarProveedor"label="Editar Proveedor">
          <FormularioProveedor client:visible userId="1" modo="editar" proveedor={proveedor}/>
        </Modal>
      </div>

    <PerfilProveedor client:load proveedor={proveedor} />
  </MainDashboard>
</LayoutDash> 

<script define:vars={{proveedorId}}>
document.getElementById('btnEdit').addEventListener('click',()=>window.location.href=`/dashboard/proveedores/${proveedorId}/editar`)
</script>